.Rproj.user
.Rhistory
.RData
.Ruserdata
tmp/
logs/
output/
.snakemake
data/
results/week16_samples/2025-04_metadata.xlsx
results/week16_samples/asv_pipeline/ASVpipeline.sh
results/week16_samples/asv_pipeline/job_1415606_asv_pipeline.out
results/week16_samples/asv_pipeline/metadata.csv
results/week16_samples/asv_pipeline/samples
results/week16_samples/asv_pipeline/slurm_submit.sbatch
results/week16_samples/nanopore_16s/2024-04-sup
results/week16_samples/nanopore_16s/2024-04-hyp/job_1438295_midas_ok.out
results/week16_samples/nanopore_16s/2024-04-hyp/job_1438296_midas_ok.out
results/week16_samples/nanopore_16s/2024-04-hyp/slurm_submit.sbatch
results/week16_samples/nanopore_16s/2024-04-hyp/config/config.yaml
results/week16_samples/nanopore_16s/2024-04-hyp/config/README.md
results/week16_samples/nanopore_16s/2024-04-hyp/workflow/Snakefile
results/week16_samples/nanopore_usearch/hyp/config/config.yaml
results/week16_samples/nanopore_usearch/hyp/config/README.md
